body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1717e1; /* Black background */
  color: #fff; /* White text */
}
header {
  background-color: #f2f5f2;
  text-align: center;
  margin-bottom: 0;
}
  
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header-logo .logo {
    width: 60px;
    margin: 10px;
  }
  
  .header-logo h1 {
    color: #0078d7;
    margin: 0;
  }
  
  .header-logo p {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
  
  .navbar {
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
  }
  
  .navbar a:hover {
    background-color: #0078d7;
    color: #fff;
  }
  
  .navbar .btn {
    color: #fff;
    background-color: #0078d7;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .navbar .btn:hover {
    background-color: #005cbf;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  